extends template/template
block banner 
    .main-banner
        .ed-container
            .ed-item.banner-container
                img(src="https://github.com/edgrid/edtaller69/blob/master/img/perrito.jpg?raw=true", alt="").main-banner__img
                .main-banner__copy  
                    h2.main-banner__title
                      span The kind of 
                      span Your Pets Deserve
                    .main-banner__content
                      | Lorem ipsum dolor sit, amet tate eveniet consequuntur cumque quo corrupti harum omnis fuga!
block aboutUS
    .ed-container.about-us
        .ed-item.m-50
            img(src="https://github.com/edgrid/edtaller69/blob/master/img/perrito-2.jpg?raw=true", alt="").about-us__img
        .ed-item.m-50.cross-center
            .about-us__copy
                h2.about-us__title About Clinic
                p.about-us__subtitle Pets best frineds
                p.about-us__content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sed error corrupti veritatis voluptate. Sit unde, reprehenderit, quasi accusamus quae voluptatem numquam alias mollitia repellat ipsum debitis, delectus temporibus expedita?     
                a(href="#").about-us__cta Contac Us